name: Build

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: About env
        run: |
          echo "Env"
          export

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"

      - name: Build
        run: go build
